Repository fga-eps-mds/2020-2-SiGeD, pull requests merged in 2021-02, with the labels that each got.

#18 Add MkDocs
  .gitignore
  docker-compose.yml
  docs/index.md
  mkdocs.yml
Labels: DevOps, EPS, docs

#17 Add LICENSE
  LICENSE
Labels: DevOps, EPS

#21 Guia de contribuição
  CONTRIBUTING.md
Labels: DevOps, EPS, docs

#23 Crinado a landing page
  docs/assets/css/landing_page.css
  docs/assets/img/building_website.svg
  docs/assets/img/docs.svg
  docs/assets/img/github.png
  docs/home.md
  docs/index.html
  docs/index.md
  docs/team.md
  docs/template_docs/index.md
  docs/template_docs/template_planning.md
  docs/template_docs/template_review.md
  mkdocs.yml
Labels: docs

#24 Add sprint 1 planning
  docs/sprints/sprint0/sprint1_planning.md
Labels: Scrum Master, docs
